.footer {
    background-color: #f5f5f5;
}
.inner-padded {
    padding-top: 5em; !important;
    padding-bottom: 5em; !important;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
body { padding-top: 70px; }

.results {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    font-family: 'Italianno', cursive;
    font-size: 4rem;
}

.five-row {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Chakra Petch', sans-serif;
}

.searchContainer {
    margin: auto;
    padding-bottom: 0;
    width: 100%;
    padding-top: 2rem;
}

#myBtn{
    float: left;
    padding: 3px 10px 3px 7px;
    margin-left: 1rem;
    font-size: 25px;
}

.flexContainer {
    display: flex;
}

.inputField {
    width: 1000px;
    height: 45px;
}

#searchText{
    font-size: 2.5rem;
    font-family: 'Italianno', cursive;
}

#myBackButton{
    float: left;
    padding: 3px 10px 3px 7px;
    margin-left: 1rem;
    font-size: 25px;
    font-family: 'Italianno', cursive;
}

#myViewButton {
    padding: 3px 10px 1px 7px;
    font-size: 28px;
    font-family: 'Italianno', cursive;
}
.column {
    padding-bottom: 1rem;
}