<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Scheherazade+New&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Cinzel&family=Fleur+De+Leah&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="material-icons" style="color: white">audiotrack</span>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: lightgrey; font-family: 'Chakra Petch', sans-serif;" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: lightgrey; font-family: 'Chakra Petch', sans-serif;" href="/customers">Customers</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h1 class="display-3" style="font-family: 'Cinzel', serif; text-align: center;">Existing customers</h1>

    </div>
    <div class="row">
        <div class="col-sm-4" th:each="cust:${customers}">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" th:text="${cust.getFullName()}"></h5>
                    <a id="myViewButton" class="btn btn-secondary btn-lg btn-block" th:href="'/customers/' + ${cust.getCustomerId()}">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>