<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Scheherazade+New&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Cinzel&family=Fleur+De+Leah&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="material-icons" style="color: white">audiotrack</span>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: lightgrey; font-family: 'Chakra Petch', sans-serif;" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: lightgrey; font-family: 'Chakra Petch', sans-serif;" href="/customers">Customers</a>
            </li>
        </ul>
    </div>
</nav>
<h1 style="font-family: 'Cinzel', serif; text-align: center; padding-top: 2rem;">Welcome to Ragnhild & Tone's application!</h1>
<div class="searchContainer">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <form action="#" th:action="@{/result}" th:object="${result}"method="post">
                        <div class="form-group">
                            <label id="searchText" for="result">Search for song</label>
                            <div class="flexContainer">
                                <input type="text" class="inputField" id="result" th:field="*{title}"required />
                                <h3>
                                    <button id="myBtn" type="submit" class="btn btn-secondary btn-lg btn-block">Search</button>
                                </h3>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="results">
    <div class="five-row">
        <h3>Artists</h3>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div th:each="art:${artists}">
                <div th:text="${art.getName()}"></div>
            </div>
        </div>
    </div>

    <div class="five-row">
        <h3>Songs</h3>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div th:each="so:${songs}">
                <div th:text="${so.getName()}"></div>
            </div>
        </div>
    </div>

    <div class="five-row">
        <h3>Genres</h3>
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div th:each="gen:${genres}">
                <div th:text="${gen.getName()}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>