<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Scheherazade+New&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Cinzel&family=Fleur+De+Leah&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="material-icons" style="color: white">audiotrack</span>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: lightgrey; font-family: 'Chakra Petch', sans-serif;" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: lightgrey; font-family: 'Chakra Petch', sans-serif;" href="/customers">Customers</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container inner-padded">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body" style="font-family: 'Nanum Myeongjo', serif;">
                    <h4 class="card-title" th:text="${result.getTitle()}"></h4>
                    <div class="row">
                        <div class="column">
                            <h5>Title</h5>
                            <p class="card-text" th:text="${result.getTitle()}"></p>
                        </div>
                        <div class="column">
                            <h5>Artist</h5>
                            <p class="card-text" th:text="${result.getArtist()}"></p>
                        </div>
                        <div class="column">
                            <h5>Album</h5>
                            <p class="card-text" th:text="${result.getAlbum()}"></p>
                        </div>
                        <div class="column">
                            <h5>Genre</h5>
                            <p class="card-text" th:text="${result.getGenre()}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/" class="btn btn-secondary btn-lg btn-block" id="myBackButton">Go back</a>
        </div>
    </div>
</div>
</body>
</html>